
.payment-container{
  width: 190%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  .card-heading{
    height: 5vh;
    font-size: 2rem; 
    margin-top: 5%;
    text-align: center;
  }
  .payment-methods {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    height: 65vh;
    flex: 1 1 0%;
    text-align: center;
    background-color: rgb(101, 101, 101);
    font-size: 1.5rem;
    border-radius: 25px;
    margin: 8% 5%;
    padding: 1em;
    width: 50%;
    margin-right: 0%;
  }
  .Item{
    font-size: 1.25rem;
    border-radius: 25px;
    width: 90%;
    padding: 10px ;
    margin-bottom: 1rem;
  }
  .Item:hover{
    background-color: #555454;
  }
  
  .List{
    list-style: none;
  }

  .card-details {
    height: 65vh;
    flex: 1;
    padding: 1em;
    background-color: #656565;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }
  .form{
    display: flex;
    height: 80%;
    width: 86%;
    padding: 2em;
  }

  .form form input{
    height: 10%;
    width: 130%;
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    padding: 0% 5%;
    margin: 2% 3%;
  }

  .form form label{
    font-size: 1.12rem;
  }